<!DOCTYPE html>
<head>
  <title>Tyler's GPT demo</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'gpt.css' %}" />
</head>

<body>
  <div class="group">
    <h3 class="searchful">Searchful </h3>
    <h3 class="ai">AI<br><br><br><br></h3>
  </div>

  <div>
    <h3 class="search-by-chatting">Search by chatting<br><br></h3>
  </div>

  <div>
    <br>
    <div class="rectangle">
      <img src="{% static 'MapPin.png' %}" class="icon-map-pin" />
      <p class="resource-name">Find health resources fast and easily with Searchful Chat</p>
    </div>

    <div class="rectangle">
      <img src="{% static 'Website.png' %}" class="icon-map-pin" />
      <p class="resource-name">Type what you're looking for and where</p>
    </div>

    <div class="rectangle">
      <img src="{% static 'Website.png' %}" class="icon-map-pin" />
      <p class="resource-name">The simplest Searchful Experience</p>
    </div>

  <br><br>
  </div>
  {% load static %}
  <form action="/catalog/GPTDemo/runGPTParse/" method="post" id="userTextForm">
    {% csrf_token %}
    <input type="text" name="userInput" required id="textArea" placeholder="I want a dentist near Henderson NV">
    <input type="submit" value="Generate locations" id="submitButton" onclick="loadingScreen()"/>
  </form>

  <form action="/catalog/GPTDemo">
    <input type="submit" value="Restart Chat"/>
  </form>
  <p id="loadingInfo"></p>
  {% if result %}
  <div class="result">{{ result|safe}}</div>
  {% endif %}
</body>

<script>
function loadingScreen(){
  document.getElementById("loadingInfo").innerHTML = "Loading, output will appear below";
}

var input = document.getElementById("userTextForm");

input.addEventListener("keypress", function(event){
  if (event.key === "Enter"){
    document.getElementById(submitButton).click();
  }
})
</script>


