<!DOCTYPE html>
<head>
  <title>Tyler's GPT demo</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'main.css' %}" />
</head>

<body>
  {% load static %}
  <img src="{% static 'dog.png' %}" class="icon" />
  <h3>Searchful AI</h3>
  <p>Enter in a sentence such as "I need food pantries in Henderson NV"</p>
  <form action="/catalog/GPTDemo/runGPTParse/" method="post">
    {% csrf_token %}
    <textarea name="userInput" cols="30" rows="10" required></textarea>
    <input type="submit" value="Generate locations" />
  </form>
  {% if result %}
  <div class="result">{{ result|safe}}</div>
  {% endif %}
</body>
